{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
{% import "_macros/_macros.twig" as macros %}
{% set pageObject = entry ?? event %}

{% if not pageObject.hideRelatedPages %}
  {% set relatedContent = relatedContent ?? [] %}
  {% if relatedContent | length %}
    {% set isRelated = macros.relatedSectionCount(pageObject, relatedContent) %}
    <a id="page-relatedpages" class="anchor-link"></a>
    {{ include("_partials/_heading.twig", {
      params: {
        text: "Related Pages",
        margin: "my-8"
      }
    }) }}
    <div class="@container mt-16 bg-white">
      <div class="container px-6 @3xl:px-16 mx-auto">
        {% if isRelated %}
          <section class="mb-16 card-grid">
            {% for section in relatedContent %}
              {{ macros.relatedEntry(pageObject, section) }}
            {% endfor %}
          </section>
        {% else %}
          <p class="text-xl">No pages have been related to this entry yet.</p>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endif %}
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}