{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
<section class="@container flex-1 mt-12 bg-white">
  <div class="container px-6 pt-8 pb-6 @3xl:px-16 @3xl:pt-12">
    <a class="anchor-link" id="page-about"></a>
    {{ include("_partials/_heading.twig", {
      params: {
        text: "About",
        margin: "mb-4"
      }
    }) }}
    <div class="mt-8 sm:flex">
      {% if entry.teams | length %}
        <div class="sm:w-1/4 sm:mr-8">
          {% for entry in entry.teams %}
            {% include '_components/_button' with {
              class: 'block mt-0 mr-0 mb-4 text-center',
              url: entry.url,
              text: entry.title,
            } %}
          {% endfor %}
        </div>
      {% endif %}
      <div class="sm:flex-1">
        <div class="body-text max-w-prose">
          {{ entry.about }}
        </div>
      </div>
    </div>
  </div>
</section>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}