{% extends '_layout.twig' %}

{% block content %}
  {% include '_partials/_page-banners.twig' %}

  {# Begin Departments #}
  <section class="relative z-0 bg-white">
    <div class="container pt-0 mx-auto">
      {% set departmentsGrouped = craft.entries.section('departments').officialDepartment(true).orderBy('title').all() | group('title | first') %}
      <ul class="grid my-0 mb-12 list-none gap-y-6 gap-x-8 md:grid-cols-2 lg:grid-cols-3 tw-only">
        {% for entries in departmentsGrouped %}
            {% for entry in entries %}
              {{ include ('_components/partials/global-cards/card.twig', {
                params: {
                  size: 'xl',
                  style: 'secondary',
                  title: entry.title,
                  url: entry.redirectUrl ?? entry.url,
                  text: entry.leadIn|chop(limit=200, unit='c', append='…')
                }
              }) }}
            {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </section>
  {# End Departments #}
{% endblock %}
