{% extends '_layout.twig' %}

{% block content %}
  {% include '_partials/_page-banners.twig' %}

  {# Begin Departments #}
  <section class="relative z-0 bg-white">
    <div class="container pt-0 mx-auto">
      {% set departmentsGrouped = craft.entries.section('departments').officialDepartment(true).orderBy('title').all() | group('title | first') %}
      <div class="grid md:grid-cols-2 gap-5">
        {% for entries in departmentsGrouped %}
            {% for entry in entries %}
              <a class="card" href="{{ entry.redirectUrl ?? entry.url }}">
                <h3 class="mb-4 text-lg" style="color:#2e8131">{{ entry.title }}</h3>
                <p class="max-w-md my-0">{{ entry.leadIn | chop(limit=200, unit='c', append='…') }}</p>
              </a>
            {% endfor %}
        {% endfor %}
      </div>
    </div>
  </section>

  <style>
    .card {
      border-radius: 4px;
      box-shadow: 0px 2px 3px 1px rgb(81 81 81 / 33%);
      color: initial;
      padding: 16px;
    }

    .card:hover {
      color: initial;
    }

    .card:hover h3 {
      text-decoration: underline;
    }
  </style>
  {# End Departments #}
{% endblock %}
