{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Oakland Email Notifications plugin for Craft CMS 3.x
 *
 * OaklandEmailNotificationsField Field Input
 *
 * @author    Goat Creative Inc.
 * @copyright Copyright (c) 2022 Goat Creative Inc.
 * @link      https://meetgoat.com
 * @package   OaklandEmailNotifications
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{# {{ forms.textField({
        label: 'Some Field',
        instructions: 'Enter some text here.',
        id: name,
        name: name,
        value: value})
}} #}

<p>This field represents the list of email subscribed to this specific element/entry. In the future you will be able to remove subscribed emails straight from this backend.</p>
{{ value }}
