{% set templateBase = "_partials/_content-builder/_blocks/_" %}
{% set heading = heading ?? 'h2' %}
{% set subheading = subheading ?? 'h3' %}
{% set headingClass = headingClass ?? 'text-2xl my-6' %}
{% set topHeadingClass = 'text-2xl mt-0 mb-6' %}
{% set subheadingClass = subheadingClass ?? 'text-xl my-4' %}
{% set galleryTrue = craft.matrixBlocks().owner(entry).fieldId(66).type('gallery') %}

{% if galleryTrue | length %}
  {% do view.registerJsFile(craft.twigpack.getModuleUri("/js/lightgallery.js")) %}
  {% do view.registerCssFile(craft.twigpack.getModuleUri("/css/lightgallery.css")) %}
{% endif %}

<div id="contentBuilder">
  {% for block in entry.contentBuilder %}
    {% set blockId =  (block.text ?? block.heading ?? "block") | kebab %}
    {% switch loop.index0 %}
      {% case 0 %}
        {% set hClass = topHeadingClass %}
      {% default %}
        {% set hClass = headingClass %}
    {% endswitch %}
    {% include templateBase ~ block.type ~ ".twig" %}
  {% endfor %}
</div>


<style>
  #contentBuilder .button {
    background: #207127;
    border: 2px solid #207127;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-weight: 700;
    font-size:  16px;
    line-height: 1.38;
    outline-offset: 2px;
    margin: 0 15px 15px 0;
    padding: 16px 32px;
  }

  #contentBuilder .button:hover {
    background: #0D5713;
    border-color: #0D5713;
  }

  #contentBuilder .button:active {
    background: #04400A;
    border-color: #04400A;
  }

  #contentBuilder .button:focus {
    outline: 4px solid #0EA5E9;
  }

  #contentBuilder .button[disabled] {
    background: #B1B1B1;
    border-color: #B1B1B1;
    pointer-events: none;
  }

  #contentBuilder .button.secondary {
    background: white;
    border: 2px solid #207127;
    color: #207127;
  }

  #contentBuilder .button.secondary:hover {
    border-color: #0D5713;
    color: #0D5713;
  }

  #contentBuilder .button.secondary:active {
    border-color: #04400A;
    color: #04400A;
  }

  #contentBuilder .button.secondary[disabled] {
    border-color: #B1B1B1;
    color: #B1B1B1;
    pointer-events: none;
  }

  #contentBuilder .button.accent {
    background: #F7C948;
    border: 2px solid #F7C948;
    color: #222222;
  }

  #contentBuilder .button.accent:hover {
    background: #F0B429;
    border-color: #F0B429;
  }

  #contentBuilder .button.accent:active {
    background: #CB6E17;
    border-color: #CB6E17;
    color: white;
  }

  #contentBuilder .button.accent[disabled] {
    background: #B1B1B1;
    border-color: #B1B1B1;
    color: white;
    pointer-events: none;
  }

  #contentBuilder .button.medium {
    padding: 16px 16px;
  }

  #contentBuilder .button.small {
    padding: 8px 8px;
  }

  #contentBuilder .button span {
    display: inline-block;
  }

  #contentBuilder .button svg {
    display: inline-block;
    margin-right: 6px;
    height: 16px;
    width: 16px;
  }

  #contentBuilder .button svg path {
    fill: white;
  }

  #contentBuilder .button.secondary svg path {
    fill: #207127;
  }

  #contentBuilder .button.secondary:hover svg path {
    fill: #0D5713;
  }

  #contentBuilder .button.secondary:active svg path {
    fill: #04400A;
  }

  #contentBuilder .button.secondary[disabled] svg path {
    fill: #B1B1B1;
  }

  #contentBuilder .button.accent svg path {
    fill: #222222;
  }

  #contentBuilder .button.accent:active svg path {
    fill: white;
  }

  #contentBuilder .button.accent[disabled] svg path {
    fill: white;
  }

  #contentBuilder .button .arrow-left {
    margin-right: 6px;
  }

  #contentBuilder .button .arrow-right {
    margin-left: 6px;
  }
</style>