{% set templateBase = "_partials/_content-builder/_blocks/_" %}
{% set heading = heading ?? 'h2' %}
{% set subheading = subheading ?? 'h3' %}
{% set headingClass = headingClass ?? 'text-2xl my-6' %}
{% set topHeadingClass = 'text-2xl mt-0 mb-6' %}
{% set subheadingClass = subheadingClass ?? 'text-xl my-4' %}
{% set galleryTrue = craft.matrixBlocks().owner(entry).fieldId(66).type('gallery') %}

{% if galleryTrue | length %}
  {% do view.registerJsFile(craft.twigpack.getModuleUri("/js/lightgallery.js")) %}
  {% do view.registerCssFile(craft.twigpack.getModuleUri("/css/lightgallery.css")) %}
{% endif %}

<div id="contentBuilder" data-section="{{ entry is defined and entry.section ? entry.section.handle : '' }}">
  {% for block in entry.contentBuilder %}
    {% set blockId =  (block.text ?? block.heading ?? "block") | kebab %}
    {% switch loop.index0 %}
      {% case 0 %}
        {% set hClass = topHeadingClass %}
      {% default %}
        {% set hClass = headingClass %}
    {% endswitch %}
    {% include templateBase ~ block.type ~ ".twig" %}
  {% endfor %}
</div>

<style>
  #contentBuilder[data-section="services"] .body-text{
    max-width: 730px;
  }

  #contentBuilder[data-section="services"] .body-text table {
    font-size:  15px;
    line-height:  1.38;
    width: 100%;
  }

  @media(min-width: 768px) {
    #contentBuilder[data-section="services"] .body-text table {
      font-size: 16px;
    }
  }

  #contentBuilder[data-section="services"] .body-text th {
    background: #F5F5F5;
    border-bottom:  1px solid black;
    padding: 15px;
    text-align: left;
  }

  #contentBuilder[data-section="services"] .body-text td {
    padding: 15px;
    word-break: break-word;
  }

  #contentBuilder[data-section="services"] .body-text > h2:first-child,
  #contentBuilder[data-section="services"] .body-text > h3:first-child,
  #contentBuilder[data-section="services"] .body-text > h4:first-child,
  #contentBuilder[data-section="services"] .body-text > p:first-child {
    margin-top: 0;
  }

  #contentBuilder[data-section="services"] .body-text h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    padding-top: 1.5em;
    margin-bottom: 0;
  }

  @media(min-width: 768px) {
    #contentBuilder[data-section="services"] .body-text h2 {
      font-size: 30px;
    }
  }

  #contentBuilder[data-section="services"] .body-text h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    padding-top: 1.5em;
    margin-bottom: 0;
  }

  @media(min-width: 768px) {
    #contentBuilder[data-section="services"] .body-text h3 {
      font-size: 24px;
    }
  }

  #contentBuilder[data-section="services"] .body-text h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0;
    padding-top: 1.5em;
    margin-bottom: 0;
  }

  #contentBuilder[data-section="services"] .body-text hr {
    clear: both;
    opacity: 0;
  }

  #contentBuilder[data-section="services"] .body-text p,
  #contentBuilder[data-section="services"] .body-text ol,
  #contentBuilder[data-section="services"] .body-text ul {
    font-size: 18px;
    line-height: 1.5;
    padding-top: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }

  #contentBuilder[data-section="services"] .body-text figure {
    margin-top: 1.5rem;
  }

  #contentBuilder[data-section="services"] .body-text figcaption {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 1rem;
  }

  @media(min-width: 768px) {
    #contentBuilder[data-section="services"] .body-text figure.image-left {
      display: flex;
    }

    #contentBuilder[data-section="services"] .body-text figure.image-left img {
      width: 60%;
    }

    #contentBuilder[data-section="services"] .body-text figure.image-left figcaption {
      margin-top: 0;
      margin-left: 2rem;
      width: 40%;
    }

    #contentBuilder[data-section="services"] .body-text figure.image-right {
      float: right;
      margin-left: 1.5rem;
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    /* Force table to not be like tables anymore */
    #contentBuilder[data-section="services"] .body-text.js-initialized table,
    #contentBuilder[data-section="services"] .body-text.js-initialized thead,
    #contentBuilder[data-section="services"] .body-text.js-initialized tbody,
    #contentBuilder[data-section="services"] .body-text.js-initialized th,
    #contentBuilder[data-section="services"] .body-text.js-initialized td,
    #contentBuilder[data-section="services"] .body-text.js-initialized tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    #contentBuilder[data-section="services"] .body-text.js-initialized thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    #contentBuilder[data-section="services"] .body-text.js-initialized tr { border: 1px solid #ccc; }
    
    #contentBuilder[data-section="services"] .body-text.js-initialized td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }
    
    #contentBuilder[data-section="services"] .body-text.js-initialized td:before { 
      /* Now like a table header */
      background: #F5F5F5;
      padding: 15px;
      position: absolute;
      top: 0;
      left: 0;
      width: 45%; 
      white-space: nowrap;
    }
    
    /*
    Label the data
    */
    #contentBuilder[data-section="services"] td::before { content: attr(data-label) }
  }
</style>

{% js on ready %}
  $('#contentBuilder[data-section="services"] table').each(function(index, element){
    var $table   = $(element);
    var $heads  = $table.find('th');

    $heads.each(function(index, element){
      var $heading      = $(element);

      $table.find('td:nth-of-type(' + (index + 1) + ')').attr('data-label', $heading.text());
    });
  });

  $('.body-text').addClass('js-initialized');
{% endjs %}
