{% set templateBase = "_partials/_content-builder/_blocks/_" %}
{% set heading = heading ?? 'h2' %}
{% set subheading = subheading ?? 'h3' %}
{% set headingClass = headingClass ?? 'text-2xl my-6' %}
{% set topHeadingClass = 'text-2xl mt-0 mb-6' %}
{% set subheadingClass = subheadingClass ?? 'text-xl my-4' %}
{% set galleryTrue = craft.matrixBlocks().owner(entry).fieldId(66).type('gallery') %}

{% if galleryTrue | length %}
  {% do view.registerJsFile(craft.twigpack.getModuleUri("/js/lightgallery.js")) %}
  {% do view.registerCssFile(craft.twigpack.getModuleUri("/css/lightgallery.css")) %}
{% endif %}

<div class="break-word">
  {% for block in entry.contentBuilder %}
    {% set blockId =  (block.text ?? block.heading ?? "block") | kebab %}
    {% switch loop.index0 %}
      {% case 0 %}
        {% set hClass = topHeadingClass %}
      {% default %}
        {% set hClass = headingClass %}
    {% endswitch %}
    {% include templateBase ~ block.type ~ ".twig" %}
  {% endfor %}
</div>
