{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
<div class="{% if not loop.last %}mb-12{% endif %}">
  {{ block.entry.one.codeInsertion | raw }}
</div>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}