<div class="{% if not loop.last %}mb-12{% endif %}">
  <a class="openforms-embed" href="{{ block.embed }}">Click here to view form.</a><script src="https://us.openforms.com/Scripts/embed-iframe.js"></script>
</div>