{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
<section class="@container relative z-0 pb-12">
  <div class="container px-6 @3xl:px-16">
    {% include "_partials/_elements/_meetings-table.twig" with {
      hideUpdate: true
    } %}
  </div>
</section>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}