{% set idsToExclude = ['not'] %}
{% set entryIds = block.entries.ids() %}
{% for entry in entryIds ?? '' %}
  {% set idsToExclude = idsToExclude|merge([entry]) %}
{% endfor %}

{% set idsToExcludeString = idsToExclude | join(', ') %}
{% set relatedNews = craft.entries.section('news').relatedTo(entry) %}
{% set excludedNews = craft.entries.section('news').relatedTo(entry).id(idsToExcludeString) %}
{% set defaultButtonUrl = "" %}
{% if excludedNews | length %}
  {% if entry.section.handle %}
    {% switch entry.section.handle %}
      {% case "topics" %}
        {% set defaultButtonUrl = "/news/related-to/topics/#{entry.slug}" %}
      {% case "boardsCommissions" %}
        {% set defaultButtonUrl = "/news?search=&month=&year=&department=&official=&public=body=#{entry.slug}" %}
      {% case "officials" %}
        {% set defaultButtonUrl = "/news?search=&month=&year=&department=&official=#{entry.slug}&public=body=" %}
      {% case "departments" %}
        {% set defaultButtonUrl = "/news?search=&month=&year=&department=#{entry.slug}&official=&public=body=" %}
    {% endswitch %}
  {% endif %}
{% endif %}

{% if block.allowAutofill %}
  {% set options = {
    section: "news",
    limit: 3 - entryIds | length,
    id: idsToExclude
  } %}

  {% set relatedNews = craft.entries(options).relatedTo(entry).ids() %}
  {% set entryIds = entryIds | merge(relatedNews) %}
{% endif %}

<section class="@container relative z-0 pb-12">
  <div class="container px-6 @3xl:px-16">
    {{ include("_partials/_heading.twig", {
      params: {
        text: block.heading
      }
    }) }}
    <div class="card-grid vertical-cards">
      {% for entryId in entryIds %}
        {% set entry = craft.entries.id(entryId).one() %}
        {% include '_partials/_elements/_vertical-cards.twig' with {
          title: entry.title,
          url: entry.url,
          icon: 'newspaper',
          photo: entry.newsImage.one,
          byline: entry.postDate.format("M d, Y"),
          body: entry.summary,
          photoHide: block.hideThumbnails,
          summaryHide: block.hideSummary
        } %}
      {% endfor %}
    </div>
    {% include "_partials/_elements/_module-readmore.twig" with {
      linkText: pageNewsLinkText ?? "Related News",
      linkUrl: pageNewsLinkUrl ?? defaultButtonUrl
    } %}
  </div>
</section>