{% switch block.alertType %}
  {% case "information" %}
    {% set colors = {
      border: "border-green-400",
      links: {
        link: "text-green-700",
        hover: "hover:text-green-800"
      }
    } %}
  {% case "caution" %}
    {% set colors = {
      border: "border-yellow-400",
      links: {
        link: "text-yellow-700",
        hover: "hover:text-green-800"
      }
    } %}
  {% case "warning" %}
    {% set colors = {
      border: "border-red-400",
      links: {
        link: "text-red-700",
        hover: "hover:text-red-800"
      }
    } %}
  {% default %}
{% endswitch %}

<section class="@container relative z-0 pb-12">
  <div class="container px-6 @3xl:px-16">
    <div class="p-4 border-l-8 bg-cool-gray-100 {{ colors.border }} text-base">
      {{ block.text | retcon('attr', 'a', { class: colors.links.link ~ " " ~ colors.links.hover }) | retcon('attr', 'p', { class: "first:mt-0 my-4 last:mb-0" }) }}
    </div>
  </div>
</section>