{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
{% import "_macros/_macros.twig" as macro %}
<section class="relative z-0 pb-12">
  <div class="components body-text">{{ block.text }}</div>
  {{ macro.tableBuilder(block, 2)}}
</section>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}