{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
<section class="relative z-0 pb-12">
  <div class="body-text">{{ block.text }}</div>
</section>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}