{% extends '_layouts/_banner-with-nav.twig' %}

{% import '_macros/_macros.twig' as macros %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: false,
    bannerImage: false
  } %}
  <div class="container pt-0 mx-auto components">
    <ul class="grid max-w-6xl gap-6 md:grid-cols-2 lg:grid-cols-3" style="list-style: none;padding:0;">
      {% for category in craft.categories.group("serviceTypes").limit(null).level(1).orderBy("title asc").all()%}
        {{ macros.card(category, true, false) }}
      {% endfor %}
    </ul>
  </div>
{% endblock %}
