{% requireLogin %}

{% extends "_layout.twig" %}

{% block content %}
	{{ include("_partials/_page-banners.twig", {
		breadCrumbLinks: [
			{
				title: 'Website Updates',
				link: "#{siteUrl}updates"
			}
		],
	}) }}
	{# Begin Website Updates entry #}
	<section id="content" class="relative z-0 bg-white @container">
		<div class="container px-6 py-8 @3xl:px-16 sm:py-12">
			<div class="container pt-0">
				<div class="flex">
					{{ include("_partials/_elements/_nav-sidebar.twig") }}
					<div class="flex flex-1">
						<div class="md:w-3/4 md:mr-8">
							<div class="body-text">{{ entry.mainContent }}</div>
							{{ include("_partials/_elements/_last-update.twig") }}
						</div>
						<div class="md:flex-1">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
