.btn {
  @apply inline-block px-8 py-4 text-base font-bold tracking-wide text-white no-underline bg-green-800 rounded-sm shadow transition-all duration-75;
}

.btn:hover {
  @apply text-white underline bg-green-900 shadow-none;
}

.btn-sm {
  @apply px-2 py-2;
}

.btn-md {
  @apply px-4 py-4;
}

.button {
  @apply text-base leading-tight;
  background: #207127;
  border: 2px solid #207127;
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-weight: 700;
  outline-offset: 2px;
  margin: 1em 15px 15px 0;
  padding: 16px 32px;
  text-decoration: none !important;
}

.button:hover {
  background: #0d5713;
  border-color: #0d5713;
  color: white;
}

.button:active {
  background: #04400a;
  border-color: #04400a;
}

.button:focus {
  outline: 4px solid #0ea5e9;
}

.button[disabled] {
  background: #b1b1b1;
  border-color: #b1b1b1;
  pointer-events: none;
}

.button.secondary {
  background: white;
  border: 2px solid #207127;
  color: #207127;
}

.button.secondary:hover {
  border-color: #0d5713;
  color: #0d5713;
}

.button.secondary:active {
  border-color: #04400a;
  color: #04400a;
}

.button.secondary[disabled] {
  border-color: #b1b1b1;
  color: #b1b1b1;
  pointer-events: none;
}

.button.accent {
  background: #f7c948;
  border: 2px solid #f7c948;
  color: #222222;
}

.button.accent:hover {
  background: #f0b429;
  border-color: #f0b429;
}

.button.accent:active {
  background: #cb6e17;
  border-color: #cb6e17;
  color: white;
}

.button.accent[disabled] {
  background: #b1b1b1;
  border-color: #b1b1b1;
  color: white;
  pointer-events: none;
}

.button.medium {
  padding: 16px 16px;
}

.button.small {
  padding: 8px 8px;
}

.button span {
  display: inline-block;
}

.button svg {
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 1px;
  height: 16px;
  width: 16px;
}

.button svg path {
  fill: white;
}

.button.secondary svg path {
  fill: #207127;
}

.button.secondary:hover svg path {
  fill: #0d5713;
}

.button.secondary:active svg path {
  fill: #04400a;
}

.button.secondary[disabled] svg path {
  fill: #b1b1b1;
}

.button.accent svg path {
  fill: #222222;
}

.button.accent:active svg path {
  fill: white;
}

.button.accent[disabled] svg path {
  fill: white;
}

.button .arrow-left {
  margin-right: 6px;
}

.button .arrow-right {
  margin-left: 6px;
}
