.callout {
  display: flex;
  font-size: 18px;
  padding: 1rem;
  margin-top: 1rem;
  max-width: 710px;
}

.callout .small {
  font-size: 16px;
}

.callout.info {
  background: #f0f4f8;
}

.callout.attention {
  background: #fffbea;
}

.callout.action {
  background: #fffbea;
}

.callout {
  & a:hover {
    text-decoration: none;
  }

  & svg {
    flex-shrink: 0;
    margin-right: 1rem;
    margin-top: .45rem;
  }

  & .small > p:first-child {
    margin-top: 0;
  }
}

.article-yellow-tag {
  background-color: #FFF3C4;
  font-size: 12px;
  @apply rounded;
  @apply p-2;
}

.components form {
  @apply text-base leading-normal;
}

.components form label {
  @apply text-sm leading-normal;
  margin-bottom: .5rem;
}

.components form button:not(.button) {
  @apply text-base leading-tight;
  background: white;
  border: 2px solid #207127;
  border-radius: 2px;
  color: #207127;
  display: inline-block;
  font-weight: 700;
  margin-top: 1rem;
  outline-offset: 2px;
  padding: 1rem 2rem;
  text-decoration: none;
}

.components form button:not(.button):hover {
  border-color: #0d5713;
  color: #0d5713;
}

.components form button:not(.button):active {
  border-color: #04400a;
  color: #04400a;
}

.components form textarea {
  color: #222222;
  padding: .5rem;
}

.components input,
.components select {
  @apply text-sm leading-tight;
  background: white;
  color: #6b7280;
  margin-top: .75rem;
}

.components input[type="month"],
.components input[type="text"] {
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  color: black;
  padding: .75rem 1rem;
  width: 100%;
}

.components input[type="text"]::placeholder {
  color: #6b7280;
}

.components select {
  @apply appearance-none z-0;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  padding: .75rem 1rem;
  width: 100%;
  position: relative;
  background-image: url('/dist/img/icon-caret-down.svg');
  background-repeat: no-repeat;
  background-position: right 1rem center;
}

.components table {
  @apply text-sm leading-tight md:text-base md:leading-tight;
  margin-top: 1.5rem;
  width: 100%;
}

.components table caption {
  padding: .5rem;
  text-align: left;
}

.components tbody {
  border-top: 1px solid black;
}

.components tbody tr {
  border-bottom: 1px solid black;
}

.components th {
  background: #f5f5f5;
  border-bottom: .0625rem solid black;
  padding: .9375rem;
  text-align: left;
}

.components td {
  padding: .9375rem;
  word-break: break-word;
  & > *:first-child {
    padding-top: 0;
    margin-top: 0;
  }
}

:where(.components) h1,
:where(.components) .h1 {
  @apply text-3xl md:text-4xl;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

:where(.components) h2,
:where(.components) .h2 {
  @apply text-xl leading-tight md:text-3xl;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

:where(.components) h3,
:where(.components) .h3 {
  @apply text-xl md:text-2xl;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

:where(.components-format) h2,
:where(.components-format) .h2 {
  margin-top: 1.5em;
}

:where(.components-format) h3,
:where(.components-format) .h3 {
  margin-top: 1.5em;
}

:where(.components) h4,
:where(.components) .h4 {
  @apply text-xl;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

:where(.components-format) h4,
:where(.components-format) .h4 {
  margin-top: 1.5em;
}

:where(.components-format) h5 {
  margin-top: 1.5em;
}

:where(.components) hr {
  clear: both;
  opacity: 0;
}

:where(.components hr) + h1,
:where(.components hr) + h2,
:where(.components hr) + h3,
:where(.components hr) + h4,
:where(.components hr) + h5,
:where(.components hr) + h6 {
  margin-top: 0;
  padding-top: 0;
}

:where(.components) .embed-container {
  margin-top: 1rem;
  margin-bottom: 0;
}

:where(.components) .hr {
  border-top: .1875rem solid #e1e1e1;
  opacity: 1;
}

:where(.components) .hr.dark {
  border-top: .125rem solid #212121;
  margin: 2rem 0;
  opacity: 1;
}

:where(.components) .hr.small {
  margin: 0;
}

:where(.components) .hr.small {
  margin: 1rem 0;
}

:where(.components) .hr.medium {
  margin: 2rem 0;
}

:where(.components) .hr.large {
  margin: 3rem 0;
}

:where(.components) p,
:where(.components) ol,
:where(.components) ul {
  @apply text-lg;
  margin-top: 0;
  margin-bottom: 0;
}

:where(.components-format) p,
:where(.components-format) ol,
:where(.components-format) ul {
  margin-top: 1em;
}

:where(.components-format) ol ul,
:where(.components-format) ol ol,
:where(.components-format) ul ul,
:where(.components-format) ul ol {
  padding-top: 0;
}

:where(.components-format) a {
  text-decoration: underline;
}

:where(.components-format) a:hover,
:where(.components-format) a:focus {
  text-decoration: none;
}

:where(.components) ol,
:where(.components) ul {
  padding-left: 1.25rem;
  list-style-type: initial;
}

:where(.components) ol {
  list-style-type: auto;
}

:where(.components-format) > figure {
  margin-top: 1.5rem;
}

:where(.components) figcaption {
  @apply text-sm;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  :where(.components) figure.image-left {
    display: flex;
  }

  :where(.components) figure.image-left img {
    width: 60%;
  }

  :where(.components) figure.image-left figcaption {
    margin-top: 0;
    margin-left: 2rem;
    width: 40%;
  }

  :where(.components) figure.image-right {
    float: right;
    margin-left: 1.5rem;
    width: 50%;
  }
}

:where(.components) table p,
:where(.components) table li,
:where(.components) table ul {
  font-size: 14px;
  line-height: inherit;
}

:where(.components) tbody {
  border-top: .0625rem solid black;
}

:where(.components) tbody tr {
  border-bottom: .0625rem solid black;
}

@media (max-width: 767px) {
  :where(.components) tbody {
    border-top: none;
  }

  :where(.components) tbody tr {
    border-bottom: none;
  }
  /* Force table to not be like tables anymore */
  .components.js-initialized table,
  .components.js-initialized thead,
  .components.js-initialized tbody,
  .components.js-initialized th,
  .components.js-initialized td,
  .components.js-initialized tr {
    display: block;
  }

  .components.js-initialized tbody {
    border-top: .125rem solid black;
    border-bottom: .0625rem solid black;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .components.js-initialized thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .components.js-initialized tr {
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
  }

  .components.js-initialized td {
    border: none;
    border-bottom: .0625rem solid #eee;
    position: relative;
  }

  .components.js-initialized td:before {
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  /*
  Label the data
  */
  :where(.components) td::before {
    content: attr(data-label);
  }
}

:where(.components-format) > h1:first-child,
:where(.components-format) > h2:first-child,
:where(.components-format) > h3:first-child,
:where(.components-format) > h4:first-child,
:where(.components-format) > h5:first-child,
:where(.components-format) > h6:first-child,
:where(.components-format) > p:first-child,
:where(.components-format) > ul:first-child,
:where(.components-format) > ol:first-child,
:where(.components-format) > table:first-child {
  margin-top: 0;
  padding-top: 0;
}

:where(.components-format) > blockquote:first-child {
  margin-top: 0;
}

:where(#components-sidebar) > hr {
  @apply mt-12 first:mt-0;
  border-top: 2px solid #212121;
  opacity: 1;
}

:where(#components-sidebar) > hr.light {
  @apply mt-8;
  border-top: .0625rem solid #e1e1e1;
}

:where(#components-sidebar) > h1,
:where(#components-sidebar) > h2,
:where(#components-sidebar) > h3,
:where(#components-sidebar) > h4 {
  margin-top: 1rem;
}

:where(#components-sidebar) > h4 {
  margin-bottom: 2rem;
}

#components-sidebar label {
  @apply text-base mt-6 md:mt-[1.125rem];
  display: block;
  font-weight: 700;
}

#components-sidebar input,
#components-sidebar select {
  @apply mt-2;
}

#components-sidebar .button {
  @apply mb-0;
}

#components-sidebar #search {
  @apply relative pl-10;
  background-image: url('/dist/img/icon-search.svg');
  background-repeat: no-repeat;
  background-position: left 1rem center;
  background-size: 1rem 1rem;
}

#components-sidebar #search::before {
  background-image: url('../img/icon-search.svg');
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

#components-sidebar #search > input {
  @apply pl-12;
}

@media (max-width: theme("screens.sm")) {
  .component h3{
    font-size: 1.5rem;
  }
}

.component .shadow-btn {
  --tw-shadow: 0 2px 6px 2px #e1e1e1, 0 3px 7px 1px #e1e1e1;
}

.component.bg-blue-800 .shadow-btn{
  box-shadow: none;
}