.ais-Hits-item mark {
  background: none;
  color: inherit;
  font-weight: 700;
}

.ais-Hits-item h2 mark {
  text-decoration: underline;
}

.components form {
  @apply text-base leading-normal;
}

.components form label {
  font-size: 14px;
  display: block;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.components form label > span + input {
  margin-top: 4px;
}

.components form label > input + span {
  margin-left: 10px;
  font-weight: 500;
}

.components form button:not(.button) {
  @apply text-base leading-tight;
  background: white;
  border: 2px solid #207127;
  border-radius: 2px;
  color: #207127;
  display: inline-block;
  font-weight: 700;
  margin-top: 1rem;
  outline-offset: 2px;
  padding: 1rem 2rem;
  text-decoration: none;
}

.components form button:not(.button):hover {
  border-color: #0d5713;
  color: #0d5713;
}

.components form button:not(.button):active {
  border-color: #04400a;
  color: #04400a;
}

.components form textarea {
  color: #222222;
  padding: .5rem;
}

.components input,
.components select {
  @apply text-sm leading-tight;
  background: white;
  color: #6b7280;
  margin-top: .75rem;
}

.components input[type="month"],
.components input[type="text"] {
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  color: black;
  padding: .75rem 1rem;
  width: 100%;
}

.components input[type="text"]::placeholder {
  color: #6b7280;
}

.components select {
  @apply appearance-none z-0;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  padding: .75rem 1rem;
  width: 100%;
  position: relative;
  background-image: url('/dist/img/icon-caret-down.svg');
  background-repeat: no-repeat;
  background-position: right 1rem center;
}

#components-sidebar label {
  @apply text-base mt-6 md:mt-[1.125rem];
  display: block;
  font-weight: 700;
}

#components-sidebar input,
#components-sidebar select {
  @apply mt-2;
}

#components-sidebar #search > input {
  @apply pl-12;
}

#components-sidebar .button {
  @apply mb-0;
}

#components-sidebar #search {
  @apply relative pl-10;
  background-image: url('/dist/img/icon-search.svg');
  background-repeat: no-repeat;
  background-position: left 1rem center;
  background-size: 1rem 1rem;
}

#components-sidebar #search::before {
  background-image: url('../img/icon-search.svg');
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

#searchbox {
  display: flex;
  align-items: center;
  width: 100%;
}

#searchbox-container {
  position: relative;
}

#searchbox-container > svg {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: .875rem;
  transform: translateY(-50%);
}

#searchbox-container > #searchbox > #search-input {
  padding-left: 2.625rem;
}

label.form-control {
  @apply text-sm;
  text-transform: uppercase;
}

select.form-control {
  @apply text-sm;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  color: #6B7280;
  padding: .75rem 1rem;
  width: 100%;
}

input[type="search"].form-control {
  @apply text-base;
  background: white;
  color: #3b3b3b;
  margin: 0;
  padding: .875rem;
  width: 100%;
}

input[type="search"].form-control::placeholder {
  color: #6B7280;
}

.facet-container:not(:first-of-type) {
  margin-top: 1rem;
}