.ul-icons {
  list-style: none;
  padding-left: 0 !important;
}

.ul-icons > li {
  margin-bottom: .9375rem;
}

.ul-icons > li,
.ul-icons > li > a {
  display: flex;
  align-items: flex-start;
}

.ul-icons > li svg {
  flex-shrink: 0;
  margin-top: .125rem;
  margin-right: .625rem;
  width: 22.5px;
}

.ul-icons .green path {
  fill: #2e8131;
}

.related > li svg path {
  fill: #2e8131;
}

.ul-icons a {
  text-decoration: none;
}

.ul-icons a:hover,
.ul-icons a:focus {
  text-decoration: underline;
}

.ul-icons.related a {
  text-decoration: underline;
}

.ul-icons.related a:hover,
.ul-icons.related a:focus {
  text-decoration: none;
}

.icon svg {
  display: inline;
  height: 1rem;
  vertical-align: middle;
}

.icon svg path {
  fill: #2e8131;
}
