a {
  @apply text-green-700 no-underline hover:text-green-900;
}

.body-text a {
  @apply underline break-words;
}

.anchor-link {
  @apply relative invisible block md:-top-40;
}

.external-link::after {
  background-image: url('../img/icon-external-green.svg');
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 5px;
  margin-bottom: -1px;
}

.tw-only a {
  color: unset;
}

.tw-only a:hover {
  color: unset;
}