#modal {
	background:rgba(0, 0, 0, 0.8);
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	z-index: 110;
}

#modal[aria-hidden="false"] {
	display: flex;
	pointer-events: auto;
}