footer h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

footer a {
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

@media(min-width: 768px) {
  footer a {
      font-size: 16px;
  }
}

footer a:hover,
footer a:focus {
  color: white;
  text-decoration: none;
}

footer li {
  line-height: 1.5;
  margin-bottom: 0.675rem;
}

footer button {
  margin: 0 !important;
}

footer label {
  font-size: 14px;
  margin-top: 0.75rem;
  font-weight: 700;
}

input[type="email"].form-control,
input[type="search"].form-control,
input[type="text"].form-control,
.input > input[type="email"],
.input > input[type="text"] {
  background: #F7F7F7;
  color: #3b3b3b;
  font-size: 16px;
  margin: 0;
  padding: 14px;
  width: 100%;
}

input[type="email"].form-control,
.input > input[type="email"] {
  border-radius: 4px;
  margin-top: 0.5rem;
}

input[type="email"].form-control::placeholder,
input[type="search"].form-control::placeholder,
input[type="text"].form-control::placeholder {
  color: #6B7280;
}

.form-label {
  font-size: 14px;
  line-height: 1.5;
}

.has-submenu > ul {
  display: grid;
  margin: 0 auto;
  max-width: 1475px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  z-index: 100;
}

.has-submenu > ul:where(.components) p {
  @apply text-sm;
}

.has-submenu > ul {
  overflow-x: hidden;
}

@media(min-width: 1475px) {
  .has-submenu > ul {
    overflow-x: visible;
  }  
}

.has-submenu > ul::after {
  background: #207127;
  content: "";
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50vw;
  right: -50vw;
  z-index: -1;
}

@media(min-width: 1475px) {
  .has-submenu > ul::after {
    left: calc((100vw - 1475px) / -2);
    right: calc((100vw - 1475px) / -2);
  }  
}

.has-submenu > a {
  background: transparent;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  padding: 17.5px 16px;
  position: relative;
}

.has-submenu > a > svg,
.has-arrow > svg {
  margin-left: .3125rem;
  transform: rotateZ(90deg);
  width: .625rem;
}

.has-submenu.open > a > svg:last-of-type,
.has-submenu > a[aria-expanded="true"] > svg:last-of-type {
  transform: rotateZ(-90deg);
}

.has-submenu > a[aria-expanded="true"],
.has-submenu:not(.click):hover > a,
.has-submenu.open > a {
  background: #207127;
  color: white;
}

.has-submenu > a[aria-expanded="true"] + ul,
.has-submenu:not(.click):hover > ul,
.has-submenu.open > ul {
  visibility: visible;
}

.has-submenu .card:hover,
.has-submenu .card:focus {
  background: #0D5713 !important;
  text-decoration: underline;
}

.has-submenu .card {
  color: #fff3c4 !important;
  font-size: 16px;
  font-weight: 600;
}

.has-submenu .card.dark {
  color: #207127 !important;
  background: #FFF3C4 !important;
}

.has-submenu .card.dark:hover,
.has-submenu .card.dark:focus {
  background: #FFFBEA !important;
}

.has-submenu .card.dark {
  color: #207127;
}

.has-submenu .card {
  padding: 1rem 1.25rem;
}

.has-submenu .card:not(.dark) {
  border-bottom: .0625rem solid #3E9141;
  border-radius: 0;
}

.has-submenu > ul ul {
  padding-left: 0;
}

.has-submenu .button {
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  bottom: 0;
}

.has-submenu .card.dark {
  margin-bottom: .25rem;
}

.hs_error_rollup,
.hs-error-msg {
  color: #f29b9b;
}

.hbspt-form .submitted-message {
  background: #E3F9E4;
  color: #000000;
  padding: 16px 16px 16px 48px;
  position: relative;
}

.hbspt-form .submitted-message p {
  margin: 0;
}

.hbspt-form .submitted-message::before {
  background-image: url('../img/icon-checkmark.svg');
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 16px;
  height: 20px;
}

#navbar-dropdown-search {
  background: #f7c948;
  border-radius: 50%;
  border: 0 !important;
  padding: 0;
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0s;
  transform: translateX(0);
}

#navbar-dropdown-search > svg {
  height: auto;
  width: auto;
  margin-left: -.0625rem;
  transform: none;
}

#navbar-dropdown-search > svg:last-of-type {
  display: none;
}

.has-submenu.click.open > #navbar-dropdown-search,
.has-submenu.click > #navbar-dropdown-search[aria-expanded="true"] {
  background: #207127;
  border-radius: 0;
  height: 3.25rem;
  width: 3.25rem;
  transform: translateX(.46875rem);
}

@media(min-width: 768px) {
  .has-submenu.click.open > #navbar-dropdown-search,
  .has-submenu.click > #navbar-dropdown-search[aria-expanded="true"] {
    height: 3.5rem;
  }
}

@media(min-width: 1024px) {
  .has-submenu.click.open > #navbar-dropdown-search,
  .has-submenu.click > #navbar-dropdown-search[aria-expanded="true"] {
    height: 3.75rem;
    width: 2.25rem;
    transform: translateX(0);
  }
}

.has-submenu.click.open > #navbar-dropdown-search > svg:first-of-type,
.has-submenu.click > #navbar-dropdown-search[aria-expanded="true"] > svg:first-of-type {
  display: none;
}

.has-submenu.click.open > #navbar-dropdown-search > svg:last-of-type,
.has-submenu.click > #navbar-dropdown-search[aria-expanded="true"] > svg:last-of-type {
  display: block;
}

#main-navigation {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 67px;
}

@media(min-width: 1024px) {
  #main-navigation {
      padding-left: 1.5rem;
  }        
}

#main-navigation > ul > li  > a {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#main-navigation > ul > li:not(.open) > a:hover,
#main-navigation > ul > li:not(.open) > a:focus {
  border-bottom: 2px solid white;
}

#mobile-navigation > a {
  background: #207127;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 3.75rem;
  width: 3.25rem;
}

#mobile-navigation > a > svg:first-of-type {
  width: 1.875rem;
}

#mobile-navigation > a > svg:last-of-type {
  display: none;
}

#mobile-navigation > a[aria-expanded="true"] > svg:first-of-type {
  display: none;
}

#mobile-navigation > a[aria-expanded="true"] > svg:last-of-type {
  display: block;
}

#mobile-navigation > ul {
  background: #207127;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1000;
  max-height: calc(100vh - 90px);
  overflow: scroll;
}

#mobile-navigation > ul > li > a {
  background: #207127;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  padding: 1rem 0;
}

#mobile-navigation .has-submenu > ul {
  position: static;
}

#mobile-navigation .has-submenu > ul::after,
#mobile-navigation .has-submenu > ul::before {
  display: none;
}

#mobile-navigation .has-submenu > a + ul,
#mobile-navigation .has-submenu > ul {
  display: none;
}

#mobile-navigation .has-submenu > a[aria-expanded="true"] + ul,
#mobile-navigation .has-submenu:not(.click):hover > ul,
#mobile-navigation .has-submenu.open > ul {
  display: block;
}

#mobile-navigation .has-submenu > ul > li > a {
  font-size: 14px;
  font-weight: bold;
}

#mobile-navigation .has-submenu > a > span {
  background: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 22px;
}

#mobile-navigation .has-submenu.open > a > span {
  transform: rotateZ(180deg);
}

#mobile-navigation .has-submenu > a > span > svg {
  color: #207127;
  width: 12px;
  transform: rotateZ(90deg);
}

#navbar-dropdown-mobile.disabled {
  background: #222222;
}

#navbar-dropdown-mobile + ul {
  display: none;
}

#navbar-dropdown-mobile[aria-expanded="true"] + ul {
  display: block;
}

#site-search-form > button {
  background: #f7c948;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3.25rem;
}

#mainbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

#topbar {
  position: relative;
  z-index: 101;
}

#topbar.state-active > .bg-green-1000 {
  background-color: rgb(4, 64, 10) !important;
}

.navbar svg,
.navbar path {
  fill: currentColor;
}

.navbar li,
.navbar p {
  font-size: 12px;
  list-style: none;
}

.navbar p,
.navbar ul {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar a:not(.button) {
  color: white;
}

.navbar #top-navigation a {
  font-weight: 700;
  -webkit-font-smoothing:  antialiased;
}

.navbar #top-navigation a:hover,
.navbar #top-navigation a:focus {
  text-decoration: underline;
}

.page-holder.state-active::before {
  background: black;
  content: "";
  display: block;
  opacity: 0.25;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
}

#translate > a {
  color: #fff3c4 !important;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  padding: .75rem .5rem;
}

#translate > a > svg:first-of-type {
  width: 1.25rem;
  margin-right: .5rem;
  margin-left: 0;
  transform: none;
}

#translate > ul {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
}

@media(min-width: 1024px) {
  #translate > ul {
      right: 0;
      left: auto;
      width: 23.4375rem;
  }        
}

#translate > ul::before,
#translate > ul::after {
  display: none;
}

#translate > ul > li {
  @apply text-sm;
  margin: .1875rem 0;
}