footer h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

footer a {
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

@media(min-width: 768px) {
  footer a {
      font-size: 16px;
  }
}

footer a:hover,
footer a:focus {
  color: white;
  text-decoration: none;
}

footer li {
  line-height: 1.4;
  margin-bottom: 0.25rem;
}

footer button {
  margin: 0 !important;
}

footer label {
  margin-top: 0.75rem;
}

input[type="email"].form-control,
input[type="search"].form-control,
input[type="text"].form-control {
  background: #F7F7F7;
  color: #3b3b3b;
  font-size: 16px;
  margin: 0;
  padding: 14px;
  width: 100%;
}

input[type="email"].form-control {
  border-radius: 4px;
  margin-top: 0.5rem;
}

input[type="email"].form-control::placeholder,
input[type="search"].form-control::placeholder,
input[type="text"].form-control::placeholder {
  color: #6B7280;
}

.form-label {
  font-size: 14px;
  line-height: 1.5;
}

.has-submenu > ul {
  display: grid;
  margin: 0 auto;
  max-width: 1475px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  z-index: 100;
}

.has-submenu > ul.components h4 {
  font-size: 16px;
  padding-bottom: 0.5rem !important;
}

.has-submenu > ul.components p {
  font-size: 14px;
}

.has-submenu > ul::before {
  background: black;
  content: "";
  opacity: 0.25;
  pointer-events: none;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: -50vw;
  right: -5vw;
  height: 100vh;
}

.has-submenu > ul::after {
  background: #207127;
  content: "";
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50vw;
  right: -50vw;
  z-index: -1;
}

.has-submenu > a {
  background: transparent;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  padding: 19.5px 16px;
  position: relative;
}

.has-submenu > a > svg,
.has-arrow > svg {
  margin-left: 5px;
  transform: rotateZ(90deg);
  width: 10px;
}

.has-submenu > a[aria-expanded="true"],
.has-submenu:not(.click):hover > a,
.has-submenu.open > a {
  background: #207127;
  color: white;
}

.has-submenu > a[aria-expanded="true"] + ul,
.has-submenu:not(.click):hover > ul,
.has-submenu.open > ul {
  visibility: visible;
}

.has-submenu .card:hover,
.has-submenu .card:focus {
  background: #0D5713;
}

.has-submenu .card h4 {
  color: #FFF3C4;
}

.has-submenu .card p {
  color: white;
}

.has-submenu .card span {
  text-decoration: none;
}

.has-submenu .card.dark {
  background: #FFF3C4;
}

.has-submenu .card.dark:hover,
.has-submenu .card.dark:focus {
  background: #FFFBEA;
}

.has-submenu .card.dark h4 {
  color: #207127;
}

.has-submenu .card.dark p {
  color: #000000;
}

.has-submenu h4 {
  padding-bottom: 0 !important;
}

.has-submenu .card {
  padding: 10px 20px;
}

.has-submenu .card:not(.dark) {
  border-bottom: 1px solid #3E9141;
  border-radius: 0;
}

.has-submenu .clamp {
  display: none;
}

.has-submenu > ul ul {
  padding-left: 0;
}

.has-submenu .button {
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  bottom: 0;
}

.has-submenu .card h4 {
  padding-top: 0.5rem;
}

.has-submenu .card.dark {
  margin-bottom: 4px;
}

#navbar-dropdown-search {
  background: #f7c948;
  border-radius: 50%;
  padding: 0;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  transform: translateX(0);
}

#navbar-dropdown-search > svg {
  height: auto;
  width: auto;
  margin-left: -1px;
  transform: none;
}

#navbar-dropdown-search > svg:last-of-type {
  display: none;
}

.has-submenu.click.open > #navbar-dropdown-search,
.has-submenu.click > #navbar-dropdown-search[aria-expanded="true"] {
  background: #207127;
  border-radius: 0;
  height: 52px;
  width: 52px;
  transform: translateX(7.5px);
}

@media(min-width: 768px) {
  .has-submenu.click.open > #navbar-dropdown-search,
  .has-submenu.click > #navbar-dropdown-search[aria-expanded="true"] {
    height: 56px;
  }
}

@media(min-width: 1024px) {
  .has-submenu.click.open > #navbar-dropdown-search,
  .has-submenu.click > #navbar-dropdown-search[aria-expanded="true"] {
      height: 60px;
      width: 36px;
      transform: translateX(0);
  }        
}

.has-submenu.click.open > #navbar-dropdown-search > svg:first-of-type,
.has-submenu.click > #navbar-dropdown-search[aria-expanded="true"] > svg:first-of-type {
  display: none;
}

.has-submenu.click.open > #navbar-dropdown-search > svg:last-of-type,
.has-submenu.click > #navbar-dropdown-search[aria-expanded="true"] > svg:last-of-type {
  display: block;
}

#main-navigation {
  padding-left: 63px;
}

@media(min-width: 1024px) {
  #main-navigation {
      padding-left: 1.5rem;
  }        
}

#mobile-navigation > a {
  background: #207127;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 52px;
  width: 52px;
}

@media(min-width: 768px) {
  #mobile-navigation > a {
    height: 56px;
  }
}

#mobile-navigation > a > svg:first-of-type {
  width: 30px;
}

#mobile-navigation > a > svg:last-of-type {
  display: none;
}

#mobile-navigation > a[aria-expanded="true"] > svg:first-of-type {
  display: none;
}

#mobile-navigation > a[aria-expanded="true"] > svg:last-of-type {
  display: block;
}

#mobile-navigation > ul > li > a {
  background: #207127;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  padding: 15.5px 0;
}

#mobile-navigation .has-submenu > ul {
  position: static;
}

#mobile-navigation .has-submenu > ul::after,
#mobile-navigation .has-submenu > ul::before {
  display: none;
}

#mobile-navigation .has-submenu > a + ul,
#mobile-navigation .has-submenu > ul {
display: none;
}

#mobile-navigation .has-submenu > a[aria-expanded="true"] + ul,
#mobile-navigation .has-submenu:not(.click):hover > ul,
#mobile-navigation .has-submenu.open > ul {
display: block;
}

#mobile-navigation .has-submenu > ul > li > a {
  font-size: 14px;
  font-weight: bold;
}

#navbar-dropdown-mobile + ul {
  display: none;
}

#navbar-dropdown-mobile[aria-expanded="true"] + ul {
  display: block;
}

#site-search-form > button {
  background: #f7c948;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 52px;
}

#topbar {
  position: relative;
}

#topbar li,
#topbar p {
  font-size: 12px;
  list-style: none;
}

#topbar p,
#topbar ul {
  margin-top: 0;
  margin-bottom: 0;
}

#topbar a:not(.button) {
  color: white;
}

#topbar #top-navigation a:hover,
#topbar #top-navigation a:focus {
  text-decoration: underline;
}

#translate > a {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  padding: 12px 8px;
}

#translate > a > svg:first-of-type {
  width: 20px;
  margin-right: 7.5px;
  margin-left: 0;
  transform: none;
}

#translate > ul {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
}

@media(min-width: 1024px) {
  #translate > ul {
      right: 0;
      left: auto;
      width: 375px;
  }        
}

#translate > ul::before,
#translate > ul::after {
  display: none;
}

#translate > ul > li {
  font-size: 14px;
  margin: 2.5px 0;
}