.has-submenu > ul {
  display: grid;
  margin: 0 auto;
  max-width: 1475px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  z-index: 100;
}

.has-submenu > ul.components h4 {
  font-size: 16px;
  padding-bottom: 0.5rem !important;
}

.has-submenu > ul.components p {
  font-size: 14px;
}

.has-submenu > ul::before {
  background: black;
  content: "";
  opacity: 0.25;
  pointer-events: none;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: -50vw;
  right: -5vw;
  height: 100vh;
}

.has-submenu > ul::after {
  background: #207127;
  content: "";
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50vw;
  right: -50vw;
  z-index: -1;
}

.has-submenu > a {
  background: transparent;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  padding: 19.5px 16px;
  position: relative;
}

.has-submenu > a > svg,
.has-arrow > svg {
  margin-left: 5px;
  transform: rotateZ(90deg);
  width: 10px;
}

.has-submenu > a[aria-expanded="true"],
.has-submenu:not(.click):hover > a,
.has-submenu.open > a {
  background: #207127;
  color: white;
}

.has-submenu > a[aria-expanded="true"] + ul,
.has-submenu:not(.click):hover > ul,
.has-submenu.open > ul {
  visibility: visible;
}

.has-submenu .card:hover,
.has-submenu .card:focus {
  background: #0D5713;
}

.has-submenu .card h4 {
  color: #FFF3C4;
}

.has-submenu .card p {
  color: white;
}

.has-submenu .card span {
  text-decoration: none;
}

.has-submenu .card.dark {
  background: #FFF3C4;
}

.has-submenu .card.dark:hover,
.has-submenu .card.dark:focus {
  background: #FFFBEA;
}

.has-submenu .card.dark h4 {
  color: #207127;
}

.has-submenu .card.dark p {
  color: #000000;
}

.has-submenu h4 {
  padding-bottom: 0 !important;
}

.has-submenu .card {
  padding: 10px 20px;
}

.has-submenu .card:not(.dark) {
  border-bottom: 1px solid #3E9141;
  border-radius: 0;
}

.has-submenu .clamp {
  display: none;
}