.pagination {
  @apply text-base items-stretch flex gap-2 p-0;
  /* margin-left: -10px;
  padding: 0 !important; */
}

.pagination > li {
  display: flex;
  align-items: center;
  /* margin: 0 4px; */
}

.pagination .disabled {
  opacity: .5;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  pointer-events: none;
}

.pagination .page {
  border: 2px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.75rem;
  width: 1.75rem;
  text-decoration: none;
}

.pagination .page-active {
  background: #0d5713;
  border-color: #0d5713;
  color: white;
}

.pagination .next,
.pagination .prev {
  @apply text-[0];
}

.pagination .next,
.pagination .prev {
  @apply relative;
  height: 28px;
  width: 28px;
}

.pagination .next::after,
.pagination .prev::after {
  background-image: url('/dist/img/icon-arrow-green.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
}

.pagination .prev::after {
  transform: rotateZ(180deg);
}
