{% set query = craft.app.request.getParam('query') %}
{% extends '_layout.twig' %}
{% set entry = craft.entries.section('searchIndex').one %}

{% do view.registerJsFile("https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes,Array.prototype.find") %}
{% do view.registerCssFile("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.5/dist/instantsearch.min.css") %}
{% do view.registerCssFile ("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.5/dist/instantsearch-theme-algolia.min.css") %}
{% do view.registerJsFile("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.5") %}

{% css %}
  .ais-search-box {
    max-width: initial;
  }
  .ais-search-box--magnifier {
    top: 50%;
    transform: translateY(-50%);
  }

  .ais-menu--link {
    color: #653cad !important;
  }

  .ais-menu--link:hover {
    color: #240754 !important;
  }

  .ais-menu--count {
    color: #653cad !important;
    background-color: #eae2f8 !important;
  }

{% endcss %}

{% block content %}
  {{ craft.vite.script("src/js/search.js") }}
  <div class="leading-none banner bg-transparent-oakland-roots">
    <div class="container pt-2 pb-8 md:pt-4 md:pb-6">
      <div class="relative z-10 inline-block px-2 py-1 text-xs text-green-800 bg-white rounded-sm shadow md:text-xs">
        {# <a class="text-green-800 hover:text-green-800 hover:underline" href="/">
          Oakland
        </a> → #}
        <span class="font-bold">Search</span>
      </div>
    </div>
  </div>
  <div id="content" style="position:relative;top:-80px;"></div>
  <div class="container leading-normal">
    <div class="relative z-10 flex flex-col max-w-6xl sm:flex-row">
      <h1 class="mb-0 text-3xl font-bold md:text-4xl sm:w-1/4">{{ entry.title }}</h1>
      <form action="" class="flex-1 my-4 sm:my-0">
        <label class="hidden-visually" for="search-input">Search Term(s)</label>
        <input class="flex-1 px-8 py-4 rounded-none appearance-none" id="search-input" name="query" required type="search" value="">
        <button class="btn hidden-visually" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <section class="relative z-0 bg-white">
    <div class="container pt-0">
      <div class="grid max-w-6xl grid-cols-1 md:grid-cols-4 gap-x-16 gap-y-4">
        <div class="order-2 md:col-span-3 md:order-1" data-hits id="all-holder">
          <div id="stats" class="mb-4"></div>
          <div id="all-hits" data-index="{{ getenv('ENVIRONMENT') }}_all"></div>
        </div>
        <div class="order-1 md:order-2">
          <div id="section-filter" class="hidden md:block"></div>
          <div class="mt-2" id="clear-refinements"></div>
        </div>
      </div>
      <div id="bottom-pagination"></div>
    </div>
  </section>
{% endblock %}

{% js on load %}
    $('#all-hits').on('click', 'a', function(){
      var search_term   = $('#search-input').val() ? $('#search-input').val() : 'No search term';
      var link_clicked  = $(this).attr('href').trim();

      var filters = [];

      dl.push({
        'event'               : 'search_result_clicked',
        'current_url'         : '{{ craft.app.request.absoluteUrl }}',
        'url'                 : link_clicked,
        'input_search_term'   : search_term,
        'filters'             : filters,
        'debug_mode'          : true,
        'search_bar_id'       : 'index'
      });
    });
{% endjs %}
