{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
<div class="grid grid-cols-1 gap-4 md:gap-6 lg:grid-cols-3">
  {% for child in block.children %}
    <div>
      {{ child.embed|raw }}
    </div>
  {% endfor %}
</div>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}
