{% extends '_content.twig' %}
{% block content %}
  <h2>Agenda</h2>
  {% if entry.agendaDownloadableCopy|length %}
    <ul class="ul-icons related" style="padding-top: 1rem;">
      <li><a href="{{ entry.agendaDownloadableCopy.one().url }}">{{ svg( '@webroot/assets/img/icon-document.svg') }} {{ entry.agendaDownloadableCopy.one().title }} - {{ entry.postDate|date("m/d/Y") }} Agenda</a></li>
    </ul>
  {% endif %}
  {% include '_components/_process.twig' with {heading: 'Agenda Items'} %}
{% endblock %}
