{% extends '_layout.twig' %}

{% do craft.app.elements.eagerLoadElements(
  className(entry),
  [entry],
  [
    'banner',
    'callToAction.documentLink:documentLink',
    'callToAction.documentLink:documentLink.documentFile',
    'contentBuilder',
    'contentBuilder.largeEntryLinks:entries',
    'contentBuilder.largeEntryLinks:entries.documentFile',
    'contentBuilder.smallEntryLinks:entries',
    'contentBuilder.smallEntryLinks:entries.documentFile',
    'embeddedContent',
  ]
) %}

{% block content %}
    {% set breadcrumbs = [] %}
    {% if entry.primaryUnit|length %}
      {% set breadcrumbs = breadcrumbs|merge([
        {
          title: entry.primaryUnit.one().title,
          link: entry.primaryUnit.one().url
        },
      ]) %}
    {% endif %}
    {% if entry.section %}
      {% set breadcrumbs = breadcrumbs|merge([
        {
          title: entry.section.name,
          link: siteUrl ~ entry.section.handle
        },
      ]) %}
    {% endif %}

  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: breadcrumbs,
  } %}
  <section class="relative z-0 bg-white">
    <div class="container pt-0">
      {% include '_partials/_elements/_ctas.twig' %}
      <div class="components flex flex-wrap justify-between -mx-3">
        <div class="lg:w-3/4 xl:w-3/5 px-3">{% include '_components/_builder.twig' %}</div>
        <div class="lg:w-1/4 xl:w-1/4 px-3">{% include '_components/_builder-sidebar.twig' %}</div>
      </div>
    </div>
    {% include '_components/_builder-footer.twig' %}
  </section>
{% endblock %}
