{% extends '_layout.twig' %}

{% do craft.app.elements.eagerLoadElements(
  className(entry),
  [entry],
  [
    'banner',
    'callToAction.documentLink:documentLink',
    'callToAction.documentLink:documentLink.documentFile',
    'contentBuilder',
    'contentBuilder.largeEntryLinks:entries',
    'contentBuilder.largeEntryLinks:entries.documentFile',
    'contentBuilder.smallEntryLinks:entries',
    'contentBuilder.smallEntryLinks:entries.documentFile',
    'contentBuilder.officials.officials',
    'embeddedContent',
  ]
) %}

{% block content %}
  {% set breadcrumbs = [] %}
  {% if entry.primaryUnit|length %}
    {% set breadcrumbs = breadcrumbs|merge([
      {
        title: entry.primaryUnit.one().title,
        link: entry.primaryUnit.one().url
      },
    ]) %}
  {% endif %}
  {% if entry.section %}
    {% set breadcrumbs = breadcrumbs|merge([
      {
        title: entry.section.name,
        link: siteUrl ~ entry.section.handle
      },
    ]) %}
  {% endif %}


  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: breadcrumbs,
    bannerImage: entry.banner | length ? {
      position: entry.banner[0].getFocalPoint('asCss'),
      src: entry.banner[0].url,
      alt: entry.banner[0].title ?? entry.banner[0].filename
    } : false
  } %}
  <section class="relative z-0 bg-white">
    <div class="container pt-0">
      {% include '_partials/_elements/_ctas.twig' %}
      <div class="flex">
      {% include "_partials/_elements/_nav-sidebar.twig" %}
      <div class="flex-1">
        {% if entry.resourceImage.exists() %}
          <figure class="mb-8">
            <img class="block w-full" src="{{ entry.resourceImage.one.url }}" alt="{{ entry.title }} Image">
          </figure>
        {% endif %}
        {% include '_partials/_elements/_last-update.twig' %}

        {% if entry.accordion|length %}
          <div class="mb-12">
            {% if entry.accordionHeader %}<h2 class="text-2xl mt-6 mb-0">{{ entry.accordionHeader }}</h2>{% endif %}
            {% include '_components/_accordion.twig' with {accordion: entry.accordion.all()} %}
          </div>
        {% endif %}
        {% if entry.process|length %}
          <div class="mb-8">
            {% if entry.processHeader %}<h2 class="text-2xl my-6">{{ entry.processHeader }}</h2>{% endif %}
            {% include '_components/_process.twig' %}
          </div>
        {% endif %}

        {% include '_partials/_content-builder/_tool.twig' %}
      </div>
    </div>
  </section>
{% endblock %}
