{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
<section class="{{ block.backgroundColor }}">
  <div class="container">
    {% for child in block.children %}
      {% include 'modules/child/_' ~ child.type with {block: child} %}
    {% endfor %}
  </div>
</section>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}