@tailwind base;
@tailwind components;

/* Use this utility to hide text only meant for screen readers */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*  Formstack unfortunately includes a .hidden class that overrides our Tailwind default class,
    so we need to @apply it's class to another one to avoid namespace collision  */
@responsive {
  .oak-hidden {
    @apply hidden;
  }
}

[x-cloak] {
  @apply hidden;
}

@responsive {
  .touch-action-auto {
    touch-action: auto;
  }
  .touch-action-none {
    touch-action: none;
  }
  .touch-action-pan-x {
    touch-action: pan-x;
  }
  .touch-action-pan-left {
    touch-action: pan-left;
  }
  .touch-action-pan-right {
    touch-action: pan-right;
  }
  .touch-action-pan-y {
    touch-action: pan-y;
  }
  .touch-action-pan-up {
    touch-action: pan-up;
  }
  .touch-action-pan-down {
    touch-action: pan-down;
  }
  .touch-action-pinch-zoom {
    touch-action: pinch-zoom;
  }
  .touch-action-manipulation {
    touch-action: manipulation;
  }
  .touch-action-inherit {
    touch-action: inherit;
  }
  .touch-action-initial {
    touch-action: initial;
  }
  .touch-action-unset {
    touch-action: unset;
  }
}

body {
  @apply text-lg leading-normal text-gray-900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
}

h1,
h2,
h3 {
  @apply font-bold;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply font-semibold text-3xl;
}

h4 {
  @apply text-2xl;
}

ol,
ul,
dl,
p {
  @apply my-4;
}

a {
  @apply text-green-700 no-underline;
}

a:hover {
  @apply text-green-900;
}

.body-text a {
  @apply underline break-words;
}

.anchor-link {
  @apply relative invisible block;
}

@media (min-width: theme("screens.md")) {
  .anchor-link {
    top: -10rem;
  }
}

.container {
  @apply p-6;
}

@media (min-width: theme("screens.sm")) {
  .container {
    @apply px-8 py-12;
  }
}

.logo {
  fill: #ffffff;
}

#google_translate_element,
#google_translate_element_2 {
  & img {
    @apply inline;
  }
}

.goog-te-gadget-simple {
  @apply rounded-sm border-none shadow !important;
}

/* Button Styles */
.btn {
  @apply inline-block px-8 py-4 text-base font-bold tracking-wide text-white no-underline bg-green-800 rounded-sm shadow trans trans-fast;
}

.btn:hover {
  @apply text-white underline bg-green-900 shadow-none;
}

.btn-sm {
  @apply px-2 py-2;
}

.btn-md {
  @apply px-4 py-4;
}

.section-box {
  @apply block p-5 font-semibold text-green-800 bg-white border-l-4 border-green-700 rounded-sm shadow-btn;
}

.section-box:hover {
  @apply text-white bg-green-1000;
}

main,
footer {
  position: relative;
}

main {
  padding-top: 3.75rem;
}

@media (min-width: theme("screens.md")) {
  main {
    padding-top: 4rem;
  }
}

@media (min-width: theme("screens.lg")) {
  main {
    padding-top: 5rem;
  }
}

/* Banner Styles */
.banner {
  @apply relative text-xl leading-loose text-white bg-white;
}

@media (min-width: theme("screens.md")) {
  .home-banner {
    padding-top: calc(6 / 16 * 100%);
  }
}

/* Background Section Color Rotations */
main .bg-rotate:nth-of-type(odd) {
  @apply bg-gray-100;
}

main .bg-rotate:nth-of-type(even) {
  @apply bg-white;
}

.iframe-holder iframe {
  max-width: 100% !important;
}

.card-grid {
  @apply flex flex-row flex-wrap -mx-4;
  & > * {
    @apply w-full m-4;
  }
}

.card-grid-tight {
  @apply mx-0;
  & > * {
    @apply mx-0 my-2;
  }
}

@media (min-width: theme("screens.sm")) {
  .card-grid > * {
    @apply self-stretch;
    width: calc(theme("width.1/3") - theme(margin.8));
  }
  .card-grid-2up > * {
    width: calc(theme("width.1/2") - theme(margin.8));
  }
  .card-grid-tight {
    @apply -mx-2;
    & > * {
      @apply m-2;
      width: calc(theme("width.1/2") - theme(margin.4));
    }
  }
  .profile-cards > * {
    width: calc(theme("width.1/2") - theme(margin.4));
  }
}

@media (min-width: theme("screens.md")) {
  .profile-cards > * {
    width: calc(theme("width.1/2") - theme(margin.8));
  }
}

@media (min-width: theme("screens.lg")) {
  .card-grid-tight > * {
    width: calc(theme("width.1/3") - theme(margin.4));
  }
  .profile-cards > * {
    width: calc(theme("width.1/3") - theme(margin.8));
  }
}

.horizontal-card {
  @apply flex flex-col;
}

@media (min-width: 1024px) {
  .horizontal-card {
    @apply flex-row justify-between;
    & > figure {
      width: calc(theme("width.1/2") - theme(margin.6));
    }

    & > div {
      width: calc(theme("width.1/2") - theme(margin.6));
    }
  }
}

.step-grid {
  display: grid;
  grid-gap: theme("spacing.4");
  grid-template-columns: 150px 1fr;
}

.body-text {
  & ul {
    @apply list-disc list-outside;
    & li {
      @apply pl-2 ml-5;
    }
  }

  & ol {
    @apply list-decimal list-outside;
    & li {
      @apply pl-2 ml-5;
    }
  }

  & > *:first-child {
    margin-top: 0;
  }
}

a,
input,
textarea,
button {
  &:focus {
    outline: 4px solid #0EA5E9;
  }
}

.search-box {
  background-image: url("/assets/img/icon-spyglass.svg");
  background-repeat: no-repeat;
  background-position: .5rem center;
}

/* PUSH MENU */
#menu {
  @apply fixed top-0;
  right: -300px;
  width: 300px;
  transition: right 0.5s ease-out;
}

body.open #menu {
  @apply right-0;
}

.page-holder {
  @apply relative right-0 trans-slow trans-ease-out;
  transition: right 0.5s ease-out;
}

.how-it-works-block {
  @apply relative mb-4 bg-bottom bg-no-repeat;
  background-image: url("/assets/img/icon-down-arrow.svg");
}

@media (min-width: 768px) {
  .how-it-works-block {
    @apply w-1/4 px-8 mb-0;
    background-image: none;
    &:after {
      @apply absolute bg-no-repeat;
      background-image: url("/assets/img/icon-right-arrow.svg");
      content: "";
      top: 10px;
      right: -30px;
      width: 59px;
      height: 16px;
    }

    &:last-of-type {
      &:after {
        background-image: none;
      }
    }
  }
}

body.open .page-holder {
  @apply overflow-hidden;
  right: 300px;
}

.timeline-grid dt {
  @apply pl-12 bg-left-top bg-no-repeat text-2xl;
  background-image: url("/assets/img/icon-timeline-point.svg");
  background-size: theme(spacing.9);
}

.timeline-grid dd {
  @apply pb-5 pl-12 text-base;
}

.search-filter-button {
  @apply inline-block p-2 pb-1 text-white uppercase;
}

.search-filter-button:hover {
  @apply text-gray-1000 bg-white rounded shadow;
}

.search-filter-button.active {
  @apply font-bold border-b-2 border-white;
}

[data-toggle="off"] {
  @apply hidden;
}

@responsive {
  .hidden-visually {
    @apply absolute w-px h-px p-0 -mx-px overflow-hidden border-none;
    clip: rect(0 0 0 0);
  }
}

.heading-0-margin {
  & h2,
  & h3 {
    margin-bottom: 0;
    & + .body-text > *:first-child {
      margin-top: .5rem;
    }
  }
}

@tailwind utilities;

@responsive {
  .aspect-ratio-1\/4 {
    padding-top: 25%;
  }

  .aspect-ratio-27\/9 {
    padding-top: 33.3333333%
  }

  .aspect-ratio-21\/9 {
    padding-top: 42.8571429%
  }

  .aspect-ratio-16\/9 {
    padding-top: 56.25%;
  }

  .aspect-ratio-4\/3 {
    padding-top: 75%;
  }

  .aspect-ratio-square {
    padding-top: 100%;
  }
}

.bg-transparent-oakland-roots {
  @apply bg-cover;
  background-image: url(../img/oaklandroots-transparent-green.png);
}

.bg-transparent-oakland-roots-black {
  @apply bg-cover;
  background-image: url(../img/oaklandroots-black.svg);
}

/* Aspect Ratio Box */
.aspect-ratio {
  @apply absolute inset-0 w-full h-full;
}

.aspect-ratio-box {
  @apply relative h-0 overflow-hidden;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/* Transition Helpers */
/* Default */
.trans {
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

/* Delays */
.trans-delay-slow {
  transition-delay: 1s;
}
.trans-delay {
  transition-delay: 0.5s;
}
.trans-delay-fast {
  transition-delay: 0.25s;
}

/* Duration */
.trans-slower {
  transition-duration: 0.75s;
}
.trans-slow {
  transition-duration: 0.5s;
}
.trans-regular {
}
.trans-fast {
  transition-duration: 0.15s;
}
.trans-faster {
  transition-duration: 0.075s;
}

/* Properties */
.trans-none {
  transition-property: none;
}
.trans-bg {
  transition-property: background;
}
.trans-opacity {
  transition-property: opacity;
}
.trans-color {
  transition-property: color;
}
.trans-shadow {
  transition-property: box-shadow;
}
.trans-height {
  transition-property: height;
}

/* Timing Function */
.trans-linear {
  transition-timing-function: linear;
}
.trans-ease {
  transition-timing-function: ease;
}
.trans-ease-in {
  transition-timing-function: ease-in;
}
.trans-ease-out {
  transition-timing-function: ease-out;
}

/* Custom */
.accordion {
  padding-top: 1em;
}

.accordion > ul {
  list-style: none !important;
  padding: 0 !important;
}

.accordion .ul-icons {
  padding-top: 1rem;
}

.accordion-item {
  border: 2px solid #616E7C;
  margin-bottom: 16px;
}

.accordion-item:last-child {
  margin-bottom: 0;
}

.accordion-item > button {
  color: #52606d;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 24px;
  justify-content: space-between;
  width: 100%;
}

.accordion-item > button:focus {
  outline: 4px solid #0EA5E9;
}

.accordion-item > button[aria-expanded="true"] {
  background: #52606d;
  color: white;
}

.accordion-item > button > span {
  margin-bottom: 3px;
}

.accordion-item > button > span > svg:last-child {
  display: none;
}

.accordion-item > button[aria-expanded="true"] > span > svg:first-child {
  display: none;
}

.accordion-item > button[aria-expanded="true"] > span > svg:last-child {
  display: block;
}

.accordion-item > button > span > svg:last-child path {
  fill: white;
}

.accordion-item > div {
  padding: 24px;
}

.accordion-item > div > *:first-child:not(.button) {
  padding-top: 0;
}

.accordion-item > div > *:first-child.button {
  margin-top: 0;
}

.accordion-item > div > .button {
  margin-bottom: 0;
}

.algolia-result {
  border-bottom: 1px solid #CFCFCF;
  margin-bottom: 1.5rem;
}

.algolia-result h3 {
  font-size: 20px;
  line-height: 1.4;
}

@media(min-width: 768px) {
  .algolia-result h3 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.algolia-result h3 a {
  display: block;
  max-width: 730px;
}

.algolia-result h3 span {
  background: #E0E0E0;
  border-radius: 4px;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  flex-shrink: 0;
  line-height: 1.333333;
  padding: 6px 12px;
  margin-top: 0.5rem;
  width: auto;
}

@media(min-width: 768px) {
  .algolia-result h3 span {
    margin-left: 1.5rem;
    margin-top: 0;
  }
}

.algolia-result h3 .font-bold {
  text-decoration: underline;
}

.algolia-result p {
  font-size: 16px;
  line-height: 1.65;
  margin-top: 7.5px;
  max-width: 730px;
}

.algolia-result .updated {
  color: #626262;
  font-size: 14px;
  line-height: 1.5;
}

.bg-image {
  background-size: cover;
}

#breadcrumbs {
  box-shadow: 0 1px 2px 0 rgb(81 81 81 / 33%);
  color: #207127;
  font-size: 12px;
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
}

/* #breadcrumbs > a:not(:last-child)::after,
#breadcrumbs > span:not(:last-child)::after {
  content: "→";
  margin: 0 0.25rem;
} */

.button {
  background: #207127;
  border: 2px solid #207127;
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-weight: 700;
  font-size:  16px;
  line-height: 1.38;
  outline-offset: 2px;
  margin: 1em 15px 15px 0;
  padding: 16px 32px;
  text-decoration: none !important;
}

.button:hover {
  background: #0D5713;
  border-color: #0D5713;
  color: white;
}

.button:active {
  background: #04400A;
  border-color: #04400A;
}

.button:focus {
  outline: 4px solid #0EA5E9;
}

.button[disabled] {
  background: #B1B1B1;
  border-color: #B1B1B1;
  pointer-events: none;
}

.button.secondary {
  background: white;
  border: 2px solid #207127;
  color: #207127;
}

.button.secondary:hover {
  border-color: #0D5713;
  color: #0D5713;
}

.button.secondary:active {
  border-color: #04400A;
  color: #04400A;
}

.button.secondary[disabled] {
  border-color: #B1B1B1;
  color: #B1B1B1;
  pointer-events: none;
}

.button.accent {
  background: #F7C948;
  border: 2px solid #F7C948;
  color: #222222;
}

.button.accent:hover {
  background: #F0B429;
  border-color: #F0B429;
}

.button.accent:active {
  background: #CB6E17;
  border-color: #CB6E17;
  color: white;
}

.button.accent[disabled] {
  background: #B1B1B1;
  border-color: #B1B1B1;
  color: white;
  pointer-events: none;
}

.button.medium {
  padding: 16px 16px;
}

.button.small {
  padding: 8px 8px;
}

.button span {
  display: inline-block;
}

.button svg {
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 1px;
  height: 16px;
  width: 16px;
}

.button svg path {
  fill: white;
}

.button.secondary svg path {
  fill: #207127;
}

.button.secondary:hover svg path {
  fill: #0D5713;
}

.button.secondary:active svg path {
  fill: #04400A;
}

.button.secondary[disabled] svg path {
  fill: #B1B1B1;
}

.button.accent svg path {
  fill: #222222;
}

.button.accent:active svg path {
  fill: white;
}

.button.accent[disabled] svg path {
  fill: white;
}

.button .arrow-left {
  margin-right: 6px;
}

.button .arrow-right {
  margin-left: 6px;
}

.card {
  border-radius: 4px;
  display: block;
  height: 100%;
  padding: 20px;
}

.card:hover,
.card:focus {
  background: #f7f7f7;
}

.card:hover > h4 > span:first-child,
.card:focus > h4 > span:first-child{
  text-decoration: underline;
}

.card.dark {
  background: #f5f7fa;
  box-shadow: 0px 2px 1px 0px rgba(81, 81, 81, 0.25);
}

.card.dark:hover,
.card.dark:focus {
  background: #d9e2ec;
}

.cards a {
  background: white;
  border-radius: 4px;
  color: #3b3b3b;
  display: block;
  padding: 2rem;
}

.cards a:hover,
.cards a:focus {
  background: #207127;
  color: white;
}

.cards a p {
  padding: 0 !important;
}

.cards.cards-shadow a {
  box-shadow: 2px 2px 6px #E1E1E1;
}

.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.components table {
  font-size:  15px;
  line-height:  1.38;
  margin-top: 1.5em;
  width: 100%;
}

@media(min-width: 768px) {
  .components table {
    font-size: 16px;
  }
}

.components table caption {
  padding: 8px;
  text-align: left;
}

.components th {
  background: #F5F5F5;
  border-bottom:  1px solid black;
  padding: 15px;
  text-align: left;
}

.components td {
  padding: 15px;
  word-break: break-word;
}

.components h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

@media(min-width: 768px) {
  .components h1 {
    font-size: 36px;
  }
}

.components h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

@media(min-width: 768px) {
  .components h2 {
    font-size: 30px;
  }
}

.components-format h2 {
  padding-top: 1.5em;
}

.components h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

@media(min-width: 768px) {
  .components h3 {
    font-size: 24px;
  }
}
.components-format h3 {
  padding-top: 1.5em;
}

.components h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

.components-format h4 {
  padding-top: 1.5em;
}

.components hr {
  clear: both;
  opacity: 0;
}

.components hr + h1,
.components hr + h2,
.components hr + h3,
.components hr + h4,
.components hr + h5,
.components hr + h6 {
  padding-top: 0;
}

.components .callout {
  display: flex;
  padding: 16px;
  margin-top: 1em;
}

.components .callout.info {
  background: #F0F4F8;
}

.components .callout.attention {
  background: #FFFBEA;
}

.components .callout a:not(.button) {
  color: inherit;
  text-decoration: underline;
}

.components .callout a:hover {
  text-decoration: none;
}

.components .callout p {
  padding-top: 0.5rem;
}

.components .callout p:first-child {
  padding-top: 0;
}

.components .callout svg {
  flex-shrink: 0;
  margin-right: 1rem;
  margin-top: 4px;
}

.components .embed-container {
  margin-top: 1rem;
  margin-bottom: 0;
}

.components .hr {
  border-top: 3px solid #E1E1E1;
  opacity: 1;
}

.components .hr.small {
  margin: 0;
}

.components .hr.small {
  margin: 16px 0;
}

.components .hr.medium {
  margin: 32px 0;
}

.components .hr.large {
  margin: 48px 0;
}

.components p,
.components ol,
.components ul {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

.components-format p,
.components-format ol,
.components-format ul {
  padding-top: 1em;
}

.components-format ol ul,
.components-format ol ol,
.components-format ul ul,
.components-format ul ol {
  padding-top: 0;
}

.components-format a {
  text-decoration: underline; 
}

.components-format a:hover,
.components-format a:focus {
  text-decoration: none; 
}

.components ol,
.components ul {
  padding-left: 1.25rem;
  list-style-type: initial;
}

.components ol {
  list-style-type: auto;
}

.components-format > figure {
  margin-top: 1.5rem;
}

.components figcaption {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 1rem;
}

@media(min-width: 768px) {
  .components figure.image-left {
    display: flex;
  }

  .components figure.image-left img {
    width: 60%;
  }

  .components figure.image-left figcaption {
    margin-top: 0;
    margin-left: 2rem;
    width: 40%;
  }

  .components figure.image-right {
    float: right;
    margin-left: 1.5rem;
    width: 50%;
  }
}

.components tbody {
  border-top: 1px solid black;
}

.components tbody tr {
  border-bottom: 1px solid black;
}

@media (max-width: 767px) {
  .components tbody {
    border-top: none;
  }

  .components tbody tr {
    border-bottom: none;
  }
  /* Force table to not be like tables anymore */
  .components.js-initialized table,
  .components.js-initialized thead,
  .components.js-initialized tbody,
  .components.js-initialized th,
  .components.js-initialized td,
  .components.js-initialized tr { 
    display: block; 
  }

  .components.js-initialized tbody {
    border-top: 2px solid black;
    border-bottom: 1px solid black;
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  .components.js-initialized thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  .components.js-initialized tr {
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
  }
  
  .components.js-initialized td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
  }
  
  .components.js-initialized td:before { 
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  /*
  Label the data
  */
  .components td::before { content: attr(data-label) }
}

@media(min-width: 768px){
  .components #twitter-widget-0 {
    height: 95% !important;
  }
}

.components-format > h1:first-child,
.components-format > h2:first-child,
.components-format > h3:first-child,
.components-format > h4:first-child,
.components-format > h5:first-child,
.components-format > h6:first-child,
.components-format > p:first-child,
.components-format > ul:first-child,
.components-format > ol:first-child,
.components-format > table:first-child {
  margin-top: 0;
  padding-top: 0;
}

.components-format > blockquote:first-child {
  margin-top: 0;
}

#components-sidebar > hr:not(:first-child) {
  margin-top: 1.25em;
}

#components-sidebar > h1,
#components-sidebar > h2,
#components-sidebar > h3,
#components-sidebar > h4 {
  padding-top: 1em;
}

.content > h1 {
  font-size: 1.875rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .content > h1 {
    font-size: 2.25rem;
  }
}

.content > h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 640px) {
  .content > h2 {
    font-size: 1.875rem;
  }
}

.content > p {
  font-size: 1.25rem;
  max-width: 40rem;
  margin-bottom: 2rem;
}

.content > ul {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

.content > ul > li > ul {
  margin-top: 0;
  padding-left: 0.5rem;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lead,
.lead > p {
  font-size: 24px;
  line-height: 1.5;
}

.pagination {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.45;
  margin-left: -10px;
}

.pagination > li {
  display: flex;
  align-items: center;
  margin: 0 4px;
}

.pagination .disabled {
  opacity: 0.5;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  pointer-events: none;
}

.pagination .page {
  border: 2px solid #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
}

.pagination .page-active {
  background: #0D5713;
  border-color: #0D5713;
  color: white;
}

.pagination .next,
.pagination .prev {
  font-size: 0;
}

.pagination .next::after,
.pagination .prev::after {
  background-image: url(../../assets/img/icon-arrow-green.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  content: "";
  display: inline-block;
  height: 25px;
  width: 25px;
}

.pagination .prev::after {
  transform: rotateZ(180deg);
}

.process {
  list-style: none !important;
  padding-left: 0 !important;
  padding-top: 1.5em !important;
}

.process > li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  position: relative;
}

.process > li:last-of-type {
  margin-bottom: 0;
}

.process > li::before {
  border: 3px solid #9e9e9e;
  border-radius: 50%;
  content: attr(data-index);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 600;
  margin-top: -4.5px;
  margin-right: 10px;
  padding-top: 1px;
  height: 36px;
  width: 36px;
}

.process > li::after {
  background: #e4e4e7;
  content: "";
  position: absolute;
  top: 32px;
  bottom: -28px;
  width: 3px;
  left: 16px;
  z-index: -1;
}

.process li:last-of-type::after {
  display: none;
}

.process .ul-icons {
  padding-top: 1rem;
}

.ul-icons {
  list-style: none;
  padding-left: 0 !important;
}

.ul-icons > li {
  margin-bottom: 15px;
}

.ul-icons > li,
.ul-icons > li > a {
  display: flex;
  align-items: flex-start;
}

.ul-icons > li svg {
  flex-shrink: 0;
  margin-top: 2px;
  margin-right: 10px;
  width: 22.5px;
}

.related > li svg path {
  fill: #2e8131;
}

.ul-icons a {
  text-decoration: none;
}

.ul-icons a:hover,
.ul-icons a:focus {
  text-decoration: underline;
}

.ul-icons.related a {
  text-decoration: underline;
}

.ul-icons.related a:hover,
.ul-icons.related a:focus {
  text-decoration: none;
}

.icon svg {
  display: inline;
  height: 1rem;
  vertical-align: middle;
}

.icon svg path {
  fill: #2e8131;
}
