<div class="components">
  {% for block in entry.components.level(1) %}
    {% include '_components/_' ~ block.type %}
  {% endfor %}
</div>

{% js on ready %}
  $('#components table').each(function(index, element){
    var $table   = $(element);
    var $heads  = $table.find('th');

    $heads.each(function(index, element){
      var $heading      = $(element);

      $table.find('td:nth-of-type(' + (index + 1) + ')').attr('data-label', $heading.text());
    });
  });

  $('#components').addClass('js-initialized');
{% endjs %}
