<div id="components">
  {% for block in entry.components.level(1) %}
    {% include '_components/_' ~ block.type %}
  {% endfor %}
</div>

<style>
  #components .callout {
    display: flex;
    max-width: 465px;
    padding: 16px;
    margin-top: 1em;
  }

  #components .callout.info {
    background: #F0F4F8;
  }

  #components .callout.attention {
    background: #FFFBEA;
  }

  #components .callout a {
    color: inherit;
    text-decoration: underline;
  }

  #components .callout a:hover {
    text-decoration: none;
  }

  #components .callout p {
    padding-top: 0.5em;
  }

  #components .callout p:first-child {
    padding-top: 0;
  }

  #components .callout svg {
    flex-shrink: 0;
    margin-right: 1rem;
    margin-top: 4px;
  }
</style>

{% js on ready %}
  $('#components table').each(function(index, element){
    var $table   = $(element);
    var $heads  = $table.find('th');

    $heads.each(function(index, element){
      var $heading      = $(element);

      $table.find('td:nth-of-type(' + (index + 1) + ')').attr('data-label', $heading.text());
    });
  });

  $('#components').addClass('js-initialized');
{% endjs %}
