{% if block.documents|length %}
	<ul class="ul-icons related" style="padding-top: 1rem;">
	  	{% for document in block.documents.all() %}
			<li><a href="{{ document.url }}">{{ svg( '@webroot/assets/img/icon-document.svg') }} {{ document.title }}</a></li>
	  	{% endfor %}
	</ul>
{% endif %}