{% if block.getDescendants(1)|length %}
	<ol class="process">
		{% for item in block.getDescendants(1) %}
		<li data-index="{{ loop.index }}">
			<div>
				<span class="font-semibold">{{ item.heading }}</span>
				{% for block in item.getDescendants(1) %}
           			{% include '_components/_' ~ block.type %}
           		{% endfor %}
			</div>
		</li>
		{% endfor %}
	</ol>
{% endif %}

<style>
	.process {
		list-style: none !important;
		padding-left: 0 !important;
		padding-top: 1.5em !important;
	}

	.process > li {
		display: flex;
		align-items: flex-start;
		margin-bottom: 30px;
		position: relative;
	}

	.process > li::before {
		border: 3px solid #9e9e9e;
		border-radius: 50%;
		content: attr(data-index);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		font-size: 15px;
	    font-weight: 600;
	    margin-top: -4.5px;
	    margin-right: 10px;
	    padding-top: 1px;
	    height: 36px;
	    width: 36px;
	}

	.process > li::after {
		background: #e4e4e7;
		content: "";
		position: absolute;
		top: 32px;
		bottom: -28px;
		width: 3px;
		left: 16px;
		z-index: -1;
	}

	.process li:last-of-type::after {
		display: none;
	}
</style>