{% if block.relatedContentHeader %}
    <h2>{{ block.relatedContentHeader is defined ? 'Related Content' }}</h2>
{% endif %}

{% if block.relatedContent|length %}
   <h2>{{ heading is defined ? heading }}</h2>
{% endif %}