<section style="background-color:#F7F7F7">
  <div class="container py-16">
    {% if block.getDescendants(1)|length %}
      {% for block in block.getDescendants(1) %}
        {% if block.serviceCategory|length %}<h2 class="{{ loop.index0 ? 'pt-8' }}">{{ block.serviceCategory.last().title }}</h2>{% endif %}
        {% if block.services|length %}
          {% include '_components/partials/_cards-grid' with { entries: block.services.all(), shadow: false } %}
        {% else %}
          {% set services = craft.entries.section('services').relatedTo(block.serviceCategory.last()) %}
          {% include '_components/partials/_cards-grid' with { entries: services, shadow: false } %}
        {% endif %}
      {% endfor %}
    {% elseif category is defined %}
      {% for category in category.children %}
        <h2 class="{{ loop.index0 ? 'pt-8' }}">{{ category.title }}</h2>
        {% set services = craft.entries.section('services').relatedTo(category) %}
        {% include '_components/partials/_cards-grid' with { entries: services, shadow: false } %}
      {% endfor %}
    {% endif %}
  </div>
</section>