<section style="background-color:#F7F7F7">
  <div class="container py-16 mx-auto">
    <h2>{{ "Services"|t }}</h2>
    {% for block in block.getDescendants(1) %}
      {% if block.heading %}<h3 class="pt-10" style="font-weight:600;">{{ block.heading }}</h3>{% endif %}
      {% if block.cityServicesAndResourcesUpdates|length %}
        {% include '_components/partials/_cards-grid' with { entries: block.cityServicesAndResourcesUpdates.all(), shadow: true } %}
      {% endif %}
    {% endfor %}
  </div>
</section>