<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'en',
      includedLanguages: 'ceb,en,es,hmn,ja,km,ko,mn,tl,vi,zh-TW',
      layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT
    }, 'google_translate_element_2');
  }
</script>
<div class="relative z-30 {{ paddingTop ?? "pt-8" }} leading-none block" id="google_translate_element_2"></div>
<script>
(function() {
  // Observe DOM mutations whether the <html> node was changed by Google Translate
  if (window.MutationObserver) {
    var mutationObserver = new MutationObserver(function(mutations) {
      mutations.forEach(function (mutation) {
        var oldElementClass = mutation.oldValue;
        var currentElementClass = mutation.target.className;
        if (oldElementClass.indexOf('translated-') === -1 && currentElementClass.indexOf('translated-') > -1) {
          dl.push({
            'event' : 'page_translated',
            'translationLanguage' : mutation.target.lang || document.getElementsByTagName('html')[0].getAttribute('xml:lang'),
            'translationService' : 'on-page google translate'
          });
        }
    })
  })

    var htmlNode = document.querySelector('html');
    mutationObserver.observe(htmlNode, {
      attributes: true,
      attributeOldValue: true,
      attributeFilter: ['class']
    })

  }



  // Let's also track pageviews when the page is translated directly from translate.google.com or bing.com/translator
  // A function that can return individual query parameter (borrowed from https://davidwalsh.name/query-string-javascript)
  function getUrlParameter(name) {
    name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
    var results = regex.exec(location.search);
    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
  };

  // Check if the page is being translated directly from translate.google.com (viewed within the iframe)
  if (window.location.href.indexOf('translate.googleusercontent.com') > -1 ) {
    console.log('pushing event 2');
    dl.push({
      'event' : 'page_translated',
      'translationLanguage' : getUrlParameter('tl'),
      'translationService' : 'google translate website'
    });
  }

  // Check if the page is being translated directly from bing.com/translator (viewed within the iframe)
  if (window.location.href.indexOf('translatoruser-int.com') > -1 ) {
    console.log('pushing event 3');
    dl.push({
      'event' : 'page_translated',
      'translationLanguage' : getUrlParameter('to'),
      'translationService' : 'bing translator website'
    });
  }
})();
</script>