{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
{% if linkUrl %}
  <p class="mb-0 text-lg font-bold"><a href="{{ linkUrl }}" class="border-b-2 border-green-800">{{ linkText }} »</a></p>
{% endif %}
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}