<a id="skipto" href="#content" class="block">Skip to content</a>
<style>
	#skipto {
		background: white;
		padding: .5rem 1.5rem;
		position: fixed;
		top: 0;
		left: 0;
		text-decoration: underline;
		transform: translateY(-100%);
		transition: 0.5s;
		z-index: 100000;
	}

	#skipto:active,
	#skipto:focus {
		transform: translateY(0);
	}
</style>