<a class="inline-flex w-9 h-9 p-2 text-white transition-all border border-transparent rounded-full fill-current bg-green-800 hover:text-gray-1000 hover:bg-white hover:border-gray-1000" href="{{ url ?? '' }}" title="{{ network | title }} Page for {{ pageTitle ?? entry.title }}">
  {{ svg('@webroot/dist/img/logo-' ~ network ~ '.svg')|attr({
      class: 'w-full h-full'
  })|raw }}
</a>
