{% set vars = {
	text: null,
	description: null
}|merge(params) %}

{% if vars.text ?? null %}
	<div class="[&>*:last-child]:mb-0">
		{{ include("_partials/_heading.twig") }}
		{% if vars.description %}
			{{ vars.description }}
		{% endif %}
	</div>
{% endif %}