<section style="background:#222222">
	<div class="container components py-6">
		<div id="helpful" class="flex items-center justify-between text-white">
			<div class="flex items-center">
				<p class="mr-8">Was this page helpful?</p>
				<button class="button secondary small openHelpful" style="margin-top:0;margin-bottom:0;">Yes</button>
				<button class="button secondary small openWhatWasWrong" style="margin-top:0;margin-bottom:0;">No</button>
			</div>
			<p class="cursor-pointer openProblem"><u>Report a problem with this page</u></p>
		</div>
		<div class="flex flex-wrap justify-between -mx-3">
          <div class="lg:w-3/4 xl:w-1/2 px-3">
          	<div id="whyWasThisPageHelpful" class="hidden">
	          	{{ craft.freeform.form("whyWasThisPageHelpful", {
					labelClass: "form-label",
					inputClass: "form-control",
					overrideValues: {
						entryUrl: entry.url,
						pageAuthor: entry.author.fullName
					}
				}).render() }}
			</div>
          </div>
        </div>
        <div class="flex flex-wrap justify-between -mx-3">
          <div class="lg:w-3/4 xl:w-1/2 px-3">
          	<div id="whatWasWrongWithThisPage" class="hidden">
	          	{{ craft.freeform.form("whatWasWrongWithThisPage", {
					labelClass: "form-label",
					inputClass: "form-control",
					overrideValues: {
						entryUrl: entry.url,
						pageAuthor: entry.author.fullName
					}
				}).render() }}
			</div>
          </div>
        </div>
		<div class="flex flex-wrap justify-between -mx-3">
          <div class="lg:w-3/4 xl:w-1/2 px-3">
          	<div id="reportProblemForm" class="hidden">
	          	{{ craft.freeform.form("reportProblem", {
					labelClass: "form-label",
					inputClass: "form-control",
					overrideValues: {
						entryUrl: entry.url,
						pageAuthor: entry.author.fullName
					}
				}).render() }}
			</div>
          </div>
        </div>
	</div>
</section>

{% js at endBody %}
  	var form_report = document.querySelector('[data-handle="reportProblem"]');
	form_report.addEventListener('freeform-ajax-success', function (event) {
		$('<p class="text-white"><b>Thank you for your feedback</b></p>').insertAfter(form_report);
  		$(form_report).remove();
  	});

  	var form_helpful = document.querySelector('[data-handle="whatWasWrongWithThisPage"]');
	form_helpful.addEventListener('freeform-ajax-success', function (event) {
		$('<p class="text-white"><b>Thank you for your feedback</b></p>').insertAfter(form_helpful);
  		$(form_helpful).remove();
  	});

  	var form_helpful = document.querySelector('[data-handle="whyWasThisPageHelpful"]');
	form_helpful.addEventListener('freeform-ajax-success', function (event) {
		$('<p class="text-white"><b>Thank you for your feedback</b></p>').insertAfter(form_helpful);
  		$(form_helpful).remove();
  	});

  	$('.openHelpful').on('click', function(){
  		$('#whyWasThisPageHelpful').removeClass('hidden');
  		$('#helpful').addClass('hidden');
  	});

  	$('.openWhatWasWrong').on('click', function(){
  		$('#whyWasThisPageHelpful').removeClass('hidden');
  		$('#helpful').addClass('hidden');
  	});

  	$('.openProblem').on('click', function(){
  		$('#reportProblemForm').removeClass('hidden');
  		$('#helpful').addClass('hidden');
  	});
{% endjs %}

<style>
	form[data-handle="reportProblem"],
	form[data-handle="whatWasWrongWithThisPage"],
	form[data-handle="whyWasThisPageHelpful"] {
		color: white;
	}

	.components form {
		font-size: 16px;
		line-height: 1.5;
	}

	.components form label {
		font-size: 14px;
		margin-bottom: 0.5em;
	}

	.components form button {
	  background: white;
	  border: 2px solid #207127;
	  border-radius: 2px;
	  color: #207127;
	  display: inline-block;
	  font-weight: 700;
	  font-size:  16px;
	  line-height: 1.38;
	  margin-top: 1em;
	  outline-offset: 2px;
	  padding: 16px 32px;
	  text-decoration: none;
	}

	.components form button:hover {
	  border-color: #0D5713;
	  color: #0D5713;
	}

	.components form button:active {
	  border-color: #04400A;
	  color: #04400A;
	}

	.components form textarea {
		color: #222222;
		padding: 0.5em;
	}
</style>